# DecisionBoard - Variables d'environnement
# Copier ce fichier en .env et adapter les valeurs

# Django
SECRET_KEY=change-me-in-production
DEBUG=True

# Base de données OLTP (opérationnelle)
DATABASE_URL=postgres://user:password@localhost:5432/decisionboard_oltp

# Base de données DW (Data Warehouse)
DW_DATABASE_URL=postgres://user:password@localhost:5432/decisionboard_dw
